@{
    ViewBag.Title = HtmlLocalizer["Reset password"].Value;
    Layout = "~/Views/Shared/_Layout_LoginPage.cshtml";
    ViewData["PageClass"] = "inverted";
}

<div class="pt-5">
    <div class="d-flex justify-content-center flex-column">
        <div class="alert alert-success text-center w-100 resetpw" role="alert">
            @ResHelper.GetString("Eurobank.PasswordSuccessReset.Message")
        </div>
        <div class="mt-4 w-100">
            @*@Html.ActionLink(HtmlLocalizer["Sign in"].Value, "Login", null, new { @class = "btn btn-primary d-flex justify-content-center align-items-center" })*@
            <a href="login" class="btn btn-primary d-flex justify-content-center align-items-center">@ResHelper.GetString("Eurobank.common.button.Signin")</a>
        </div>

    </div>
</div>

