
<form method="post" action='@Url.Action("PersonsRegistryImprot")'>
	<div class="demo-section">
		@(Html.Kendo().Upload().Name("files"))
		<input type="submit" value="Upload" class="btn btn-primary" />
	</div>
</form>