@using Eurobank.Sections

@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<ThemeSectionProperties>

<div class="row @Model.Properties.Theme">
    <div class="col-lg-12">
        <widget-zone />
    </div>
</div>