@using Eurobank.Helpers
@using Eurobank.Widgets
@using Kendo.Mvc.UI
@using Kentico.PageBuilder.Web.Mvc
@model CMS.DocumentEngine.Types.Eurobank.PrivacyAndPolicy

@{
	ViewData["Title"] = "Index";
}

<h4>@Model.Title</h4>
<hr />

<div class="row">
	<div class="col-md-12">

		<div class="form-group">
			<editable-area area-identifier="areaDashboard" />

		</div>

		<div class="form-group">
			@Html.Raw(Model.Content)
		</div>
	</div>
</div>
